@import "./assets/styles/variables";
@import "./assets/styles/mixins";

.content {
  @include flex($align: flex-start);

  .sidebar {
    flex: 0 0 250px;
    margin: 100px 30px;
    border: 1px solid $text-color;
    border-radius: 5px;
    padding: 30px;
    background: white;

    select {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      background-color: white;
      border: none;
      outline: none;
      padding: 1rem;
      box-shadow: $box-shadow;
    }

    .categories {
      li {
        margin-bottom: 15px;

        &:hover {
          color: $primary-color;
          transition: color 0.2s;
          cursor: pointer;

          strong {
            color: $primary-color;
          }
        }
      }

      .active {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }

  .articles-container {
    max-width: 800px;
    width: 100%;
    margin: 5rem 0 10rem;
    flex: 1;

    .article {
      background: white;
      box-shadow: $box-shadow;
      border-radius: 1rem;
      padding: 0 5rem;
      margin-top: 8rem;

      @include flex(column);

      img {
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        margin-top: -4rem;
        border: 4px solid $primary-color;
      }

      h2 {
        margin-top: 2rem;
        margin-bottom: 0;
      }

      &-author {
        color: $primary-color;
        font-weight: 700;
        margin-bottom: 3rem;
      }

      &-content {
        max-width: 550px;
        white-space: pre-line;
      }

      &-actions {
        width: 100%;
        @include flex($justify: flex-end);
        margin: 3rem 0;
        padding-top: 3rem;
        border-top: 1px solid $divider-color;

        .btn {
          margin-left: 1rem;
        }
      }
    }
  }
}
