.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  box-shadow: $box-shadow;
  padding: 20px;
  background-color: $primary-color-dark;

  @include flex($justify: space-between);

  a {
    color: white;
  }

  .header-brand {
    font-size: 4rem;
    font-weight: 700;
  }

  ul {
    @include flex;

    li {
      .header-nav {
        font-size: 1.8rem;
        padding: 10px 15px;
      }

      .active {
        font-weight: 700;
        border: 1px solid $accent-color;
        border-radius: 25px;
      }
    }
  }
}

.content {
  background-color: $divider-color;
  grid-area: content;
  padding: 20px;
}

footer {
  grid-area: footer;
  background: $text-color;
  padding: 20px;
  color: white;

  @include flex;
}

.title {
  &-underline {
    padding-bottom: 2rem;
    border-bottom: 1px solid $divider-color;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s;
  }

  &-primary {
    background-color: $primary-color;
    color: white;
  }

  &-secondary {
    border: 1px solid $primary-color;
    background: white;
    color: $primary-color;
  }

  &-danger {
    background-color: $text-error;
    color: white;
  }
}

.text-error {
  color: $text-error;
}